@import "../../colors.module.scss";
@import "../../fonts.module.scss";

th {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: var(--NAVY_BLUE);

  border-bottom: 2px solid var(--LIGHT_GRAY_DISABLED);
  border-top: 2px solid var(--LIGHT_GRAY_DISABLED);
  padding: 24px;
  text-align: center;
}

td {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;

  border-bottom: 1px solid var(--LIGHT_GRAY_DISABLED);
  padding: 26px;
  text-align: center;
  justify-content: center;
}

.status {
  align-content: center;
}
