@import "../../colors.module.css";
@import "../../fonts.module.css";

.container {
  border: 2px solid var(--LIGHT_GRAY);
  border-radius: 8px;
}
.icon {
  padding: .5rem !important;
}
.inputbox {
  border-style: none none none solid;
  border-color: var(--LIGHT_GRAY);
}