@import "../../colors.module.css";
@import "../../fonts.module.css";

.container {
  border: 2px solid var(--LIGHT_GRAY);
  border-radius: 8px;
}
.icon {
  border-right: 2px solid var(--LIGHT_GRAY);
  margin-left: .5rem !important;
  width: 2.5rem !important;
  height: 100% !important;
  top: 0 !important;
  padding-top: .75rem !important;
}

.pictured {
  margin-left: 4rem !important;
  width: calc(100% - 4rem) !important;
  border-bottom: none !important;
  color: var(--LIGHT_BLUE);
  &:focus {
    box-shadow: none !important;
  }
}

.unpictured {
  margin-left: 1rem !important;
  width: calc(100% - 1rem) !important;
  border-bottom: none !important;
  color: var(--LIGHT_BLUE);
  &:focus {
    box-shadow: none !important;
  }
}