@import "../../colors.module.scss";
@import "../../fonts.module.scss";

h3 {
  font-weight: bold;
  font-size: 34px;
  line-height: 46px;
  color: var(--NAVY_BLUE);
  text-transform: uppercase;
  margin: 1.5rem 0 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}

.infoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.infoItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoItem {
  p:first-child {
    margin-bottom: 0;
  }

  span {
    margin: 10px;

    &.description  {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      color: var(--NAVY_BLUE);
    }
  }
}

.emphasized {
  font-weight: bold;
  margin-left: 10px;
}

div.infoItem:nth-child(odd) {
  background: var(--LIGHT_GRAY);
}
div.infoItem:nth-child(even) {
  background: var(--WHITE);
}
