@import "../../colors.module.scss";
@import "../../fonts.module.scss";

.newAdminForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 10%;
  padding-left: 10%;
}

.fieldContainer {
  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  padding: 2%
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
  padding-right: 11%;
}

.labelName {
  width: 20%;
}

input {
  width: 90%;
  height: 55px;
  border: 2px solid var(--LIGHT_GRAY);
  box-sizing: border-box;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
  color: var(--NAVY_BLUE);
  padding-left: 2%;

  img {
    width: 26px;
    height: 26px;
  }
}

h3 {
  text-align: center;
}

label {
  text-align: left;
  color: var(--NAVY_BLUE);
  font-style: normal;
  font-weight:bold;
  width: 20%;
  min-width: 10%;
  padding-top: 15px;
  flex-grow: 0;
}

radio {
  position: absolute;
  right: 18%;
}

inputForm {
    border: 2px solid var(--LIGHT_GRAY);
    border-radius: 8px;
}

.formSubmit {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;

  button {
    margin: 5px;
  }
}