@import "../../colors.module.css";
@import "../../fonts.module.css";


.buttonContainer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BANANA_YELLOW);
  color: var(--NAVY_BLUE);
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
}
