$buttonFontSize: 1.25rem;

.buttonContainer{
  width: fit-content;
  height: 4rem;
  padding: 2.15rem 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: $buttonFontSize;
  font-weight: 700;
  border: none;
  transition: all 0.35s ease;

  img {
    margin-right: 8px;
  }
}

/* extending `.buttonContainer` styles to primary, secondary, danger, and success buttons */
.buttonPrimary,
.buttonSecondary,
.buttonDanger,
.buttonSuccess {
  @extend .buttonContainer;
  /* unique background and text colors for each button type */
  &.buttonPrimary {
    background-color: var(--BANANA_YELLOW);
    color: var(--NAVY_BLUE);
  }

  &.buttonSecondary {
    background-color: var(--LIGHT_GRAY);
    color: var(--NAVY_BLUE);
  }

  &.buttonDanger {
    background-color: var(--SUSPENDED_RED);
    color: var(--WHITE);

    &:hover {
      background-color: var(--RED);
    }
  }

  &.buttonSuccess {
    background-color: var(--GREEN);
    color: var(--NAVY_BLUE);
  }
}

.buttonPrimary:hover,
.buttonSecondary:hover {
  background-color: var(--NAVY_BLUE);
  color: var(--BANANA_YELLOW);
}

.buttonPrimary:active,
.buttonSecondary:active {
  background-color: var(--FADED_NAVY_BLUE);
  color: var(--LIGHT_GRAY);
}

.buttonPlainText {
  @extend .buttonContainer;
  background-color: transparent;
  color: var(--NAVY_BLUE);
  border: none;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:hover {
    color: var(--FADED_NAVY_BLUE);
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    outline: none;
  }
}

.buttonIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  img {
    margin-right: 0;
  }
}

.buttonIcon:hover {
  background-color: var(--LIGHT_BLUE);
  .icon {
    color: var(--FADED_NAVY_BLUE);
  }
}
