@import "../../colors.module.css";

/* styling for mobile */

.card {
  margin: 1rem;
  background-color: var(--LIGHT_GRAY);
  border: none;
}

.iconPic{
  width: 80px;
  height: 80px;
  border-radius: 100%;
  align-items: space-around;
}

.notificationText {
  align-self: center;
  text-align: left;
}

.dateTime {
  color: var(--DARK_GRAY);
  font-weight: 700;
}

body{
  padding: 0rem;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2rem;
  padding-left: 0;
  text-align: left;
}

.rightBody{
  display: flex;
}

.buttonContainer{
  display: flex;
  justify-content: center;
}

h1, p {
  color: var(--NAVY_BLUE);
  text-align: center;
  text-transform: uppercase;
}

p{
  font-size: 1.5rem;
}

.navyText{
  color: var(--NAVY_BLUE);
  flex-direction: row;
}

.grayText{
  color: '#fff'
}

.paginatorContainer {
  padding: 1rem;
}
