@import "../../colors.module.scss";

.breadcrumb {
  background: white;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;

  ol {
    margin: 0;
  }
}

.linkStyle {
  color: var(--NAVY_BLUE);
}
