@import "../../colors.module.scss";

.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin: 2rem;
}

.footer {
  flex-grow: 1;
  background-color: var(--BANANA_YELLOW);
}