@import "../../colors.module.scss";

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  padding: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.modalHeader {
  height: 5rem;
  background-color: var(--BANANA_YELLOW);
  color: var(--NAVY_BLUE);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
  text-transform: uppercase;
}

.modalContent {
  position: relative;
  background-color: white;
  width: 90%;
}

.modalBody {
  overflow-y: scroll;
  height: 100%;
  padding: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.modalButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  button {
    margin: 0.5rem;
  }
}

/* ---------------------------- Desktop styling ---------------------------- */
@media (min-width: 992px) {
  .modalContent {
    width: 55%;
  }
}
