.container{
  width: 28.1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: .13rem solid var(--LIGHT_GRAY);
  font-family: 'Open Sans', sans-serif;
  background: var(--WHITE);
  color: var(--NAVY_BLUE);
}

.topBar{
  background: var(--BANANA_YELLOW);
  height: 4.7rem;
  line-height: 4.7rem;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.mainBody{
  padding: 3.1rem 3.1rem .6rem 3.1rem;
}

p{
  text-align: center;
  margin: 1.2rem;
  font-size: 1.2rem;
}

.buttonContainer{
  padding: 2rem 1.2rem;
  display: flex;
  justify-content: center;
}

.okayButton{
  width: 7.5rem;
  height: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BANANA_YELLOW);
  color: var(--NAVY_BLUE);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: .5rem;
  border-color: var(--BANANA_YELLOW);
  border-width: 0rem;
}

.undoButton{
  width: 7.5rem;
  height: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--LIGHT_GRAY);
  color: var(--NAVY_BLUE);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 1.2rem;
  border-radius: .5rem;
  border-color: var(--LIGHT_GRAY);
  box-shadow: var(--LIGHT_GRAY);
  border-width: 0rem;
}