.container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 2rem;
}

.navText {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  color: var(--NAVY_BLUE) !important;
  text-align: left;
  margin-left: 2rem;
}

.navBarBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.navContainer {
  align-items: center;
}

.bananaIcon {
  width: 90px;
}

.navIcon {
  margin-right: 1.5rem;
  width: 32px;
}

.navbarText {
  font-weight: 700;
}

a {
  font-style: normal;
  color: var(--NAVY_BLUE);
}

.settingsNavLink {
  background-color: transparent;
  padding: 4px 12px;

  &:hover {
    background-color: transparent;
    opacity: 0.65;
  }
}

.mobileDropdownTasks {
  border: none;
  min-width: none;
  margin-left: 2.5rem;
  padding: 0;

  a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;

    &:hover {
      color: var(--FADED_NAVY_BLUE);
    }
  }

}

.notificationContainer:hover {
  color: #1e2125;
}

.notificationLink {
  background-color: transparent !important;

  &:hover {
    opacity: 0.65;
  }
}

.dropdownToggle {
  text-align: start;

  &::after {
    color: var(--NAVY_BLUE);
  }

  &:hover {
    opacity: 0.65;
  }
}

.tasksDropdown {
  padding: 0;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .displayMobile {
    display: none;
  }

  .tasksDropdown {
    display: inline-block;
  }

  .navIcon {
    margin-right: auto;
  }

  .navBarBrand .navIcon {
    margin-right: 1.5rem;
  }

  .mobileDropdownTasks {
    border: 1px solid lightgray;
    margin-left: auto;
  }
}

@media (max-width: 575.98px) {
  .navContainer {
    align-items: start;

    li {
      width: 100%;
    }

    a {
      text-decoration: none;
      display: inline-block;
      width: 100%;
    }
  }

  .tasksDropdown {
    padding-left: 0;
  }

  .settingsNavLink {
    padding-left: 0;
    margin-bottom: 1rem;
  }
}
