@import "../../colors.module.css";

.container{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 1rem;
}

.bananaPortalNav {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  color: var(--NAVY_BLUE);
  text-align: left;
}

.navBarBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mobileNav {
  align-items: start;
}

.navIcon {
  margin-right: 1.5rem;
}

.navbarText {
  font-weight: 700;
}

a {
  font-family: "Open Sans";
  font-style: normal;
  line-height: 34px;
  color: var(--NAVY_BLUE)
}

.mobileDropdownTasks {
  border: none;
  min-width: none;
  margin-left: 2.5rem;
}

.dropdownToggleMobile {
  text-align: start;
}

@media (min-width: 576px) {
  .displayMobile {
    display: none;
  }

  .hideMobile {
    display: inline-block;
  }

  .navIcon {
    margin-right: auto;
  }

  .navBarBrand .navIcon {
    margin-right: 1.5rem;
  }

  .mobileDropdownTasks {
    border: 1px solid lightgray;
    margin-left: auto;
  }
}
