@import "../../colors.module.css";
@import "../../fonts.module.css";

.container {
  height: 100vh;
}

.borderspace {
  background-color: var(--BANANA_YELLOW);
  height: 100%;
  width: 10vw;
  float: left;
  position: relative;
}

.mainspace {
  background-color: var(--WHITE);
  height: 100%;
  width: 100%;
  float: right;
  position: relative;
}

.formcontainer {
  margin: 0 auto;
}

.titlerow {
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.inputrow {
  margin: .5rem;
}

.title {
  color: var(--NAVY_BLUE);
  text-align: left;
  font-weight: bold;
  font-size: 4rem;
}

.button {
  background-color: var(--BANANA_YELLOW);
  color: var(--NAVY_BLUE);
  border: none;
  font-weight: bold;
}

.formSubmit {
  display: flex;
  margin: .5rem;
}

form i {
  position: relative;
  padding: .5rem;
  top: 2px;
}

@media (min-width: 768px) {
  .borderspace {
    width: 25%;
  }
  .mainspace {
    width: 75%;
  }
}

@media (max-width: 768px) {
	.borderspace {
		display: none;
	}
	.mainspace {
		background-color: var(--BANANA_YELLOW);
	}
}
