.container {
  height: 100vh;
  width: 100vw;
}

.borderspace {
  background-color: var(--BANANA_YELLOW);
  height: 100%;
  width: 10vw;
  float: left;
  position: relative;
}

.mainspace {
  background-color: var(--WHITE);
  height: 100%;
  width: 100%;
  float: right;
  position: relative;
}

.formcontainer {
  margin: 0 auto;
}

.inputrow {
  margin: 0.5rem 0;
}

.title {
  font-weight: bold;
  font-size: 60px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 1.25rem;
}

.bananaIcon {
  width: 160px;
}

.formSubmit {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  button {
    white-space: nowrap;
    width: fit-content;

    &:last-of-type {
      padding-right: 0;
    }
  }
}

@media (min-width: 768px) {
  .borderspace {
    width: 25%;
  }
  .mainspace {
    width: 75%;
  }
}

@media (max-width: 768px) {
	.borderspace {
		display: none;
	}
	.mainspace {
		background-color: var(--BANANA_YELLOW);
	}
}
