@import "../../colors.module.css";

/* ---------------------------- Mobile styling ---------------------------- */

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  padding: 2rem .5rem;
}

.bodyContent {
  margin: 0 1rem;
}

.rightBody {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bananaPeel {
  position: absolute;
  bottom: 0;
  right: 0;
}

.heading {
  font-size: 7rem;
  font-weight: 700;
}

.subhead {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: none;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer {
  flex-grow: 1;
  background-color: var(--BANANA_YELLOW);
}

/* ---------------------------- Desktop styling ---------------------------- */
@media (min-width: 992px) {
  .body {
    flex-direction: row;
  }

  .heading {
    font-size: 9.375rem;
  }

  .subhead {
    font-size: 1.875rem;
  }
}
