@import "../../colors.module.css";

/* styling for mobile */

.pageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.body {
  padding: 2rem;
}

.heading {
  font-size: 9.375rem;
}

.subhead {
  font-size: 1.875rem;
  text-transform: none;
}

.rightBody{
  display: flex;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.buttonContainer button {
  width: 75%;
  margin: 0.75rem;
}

.body .rightBody .bananaPeel {
  position: relative;
  left: -60px;
  top: 349px;
}

.bottomBar{
  min-height: 15vh;
  background-color: var(--BANANA_YELLOW);
}

.rightBody{
  justify-content: center;
  margin-top: 5vh;
}

/* styling for PC */
@media (min-width: 900px) {
  .body{
    padding: 5vh 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .pageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .buttonContainer {
    flex-direction: row;
  }

  .buttonContainer button {
    width: auto;
    margin: auto;
  }

  .bottomBar{
    height: 15vh;
  }

  .rightBody{
    display: flex;
  }
}
