.footer {
  background-color: var(--BANANA_YELLOW);
  min-height: 65px;
  display: flex;
  justify-content: flex-start;

  p {
    margin: auto 1rem;
    font-size: 0.95rem;
    color: var(--NAVY_BLUE);
  }
}