.searchComponent {
  height: 73px;
  display: flex;
  flex-direction: row;
  background: var(--LIGHT_GRAY);
  border-radius: 8px;
  margin-top: 1rem;
  margin-right: 1rem;
}

.vector {
  width: 22px;
  height: 24px;
  align-items: center;
  padding-top: 24px;
  padding-left: 16px;
}

.searchBar {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 33px;
  border: none;
  background: rgba(0,0,0,0);

  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  margin-left: 32px;
  padding-left: 15px;

  /* Light blue */
  color: var(--LIGHT_BLUE);
}
