.belowNav {
}

.newDonorTable {
  width: 100%;
}

.breadCrumbTrail {
  display: flex;
  width: 100%;
}

.headerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: var(--NAVY_BLUE);
    font-weight: bold;
    text-align: left;
  }
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAllButton {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--BANANA_YELLOW);
  color: var(--NAVY_BLUE);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: .5rem;
  border-color: var(--BANANA_YELLOW);
  border-width: 0rem;
  margin-left: 1rem;
}
