:root{
  --LIGHT_BLUE :#768FC0;
  --NAVY_BLUE : #083A9B;
  --FADED_NAVY_BLUE : #083A9BB3;
  --LIGHT_YELLOW : #FFF6C7;
  --BANANA_YELLOW : #FFE145;
  --WHITE : #FFFFFF;
  --WHITE_TRANSPARENT : rgba(255, 255, 255, 0.6);
  --GRAY : #E3E3E3;
  --LIGHT_GRAY : #F0EEEE;
  --LIGHT_GRAY_DISABLED : #C4C4C4;
  --DARK_GRAY : rgb(60, 60, 60);
  --DARK_GRAY_TRANSPARENT : rgba(60, 60, 60, .5);
  --RED : #E10000;
  --BLACK : #000000;
  --DARK_GREEN : #3A9D5D;
  --GREEN : #4DBD74;
  --ORANGE : #FFAD0F;
  --SUSPENDED_RED : #F86C6B;
}
