@import "../../colors.module.css";

.paginationStyle {
  padding-top: 20px;
  padding-bottom: 20px;
}

// Used !important tag to override default bootstrap bg color
.paginationLinkStyle {
  background-color: var(--BANANA_YELLOW) !important;
}

.pagTabText {
  color: var(--NAVY_BLUE);
}