@import "../../colors.module.css";

.page-item.active .page-link {
  background-color: orange !important;
}

.paginationItemStyle {
	&.page-item {
		&.active {
			a {
				background-color: var(--BANANA_YELLOW);
				border-color: var(--BANANA_YELLOW);
			}
		}
	}
}

.pagtabtext {
  color: var(--NAVY_BLUE);
}