@import "../../colors.module.css";

$background-color: var(--BANANA_YELLOW);

.paginationItemStyle {
  .page-link {
    color: #fff
  }
	&.page-item {
		&.active &:active {
			a {
				background-color: var(--BANANA_YELLOW) !important;
				border-color: var(--BANANA_YELLOW);
			}
		}
	}
}

.page-item.active .page-link {
  background-color: $background-color;
	border-color: $background-color;
}

.pagtabtext {
  background-color: var(--BANANA_YELLOW);
  color: var(--NAVY_BLUE);
}