@import "../../colors.module.css";

#activeTab {
  background-color: var(--BANANA_YELLOW) !important;
	border-color: var(--BANANA_YELLOW) I !important;
}

a.page-link {
  background-color: var(--BANANA_YELLOW) !important;
	border-color: var(--BANANA_YELLOW) I !important;  
}

.pagtabtext {
  color: var(--NAVY_BLUE);
}